.sidebar {
  flex-basis: 20%;
  padding: 0 1rem;
  color: var(--text-primary);
}

.sidebar li {
  color: var(--text-primary);
}

.nav-link {
  display: block;
  margin: 0.25rem;
  margin-right: 5rem;
  padding: 0.75rem 1rem;
}

.nav-link:hover {
  background-color: var(--bg-secondary);
}

.nav-heading {
  padding: 0 1rem;
}

.active {
  background-color: var(--bg-secondary);
  font-weight: var(--fw-semibold);
}

.labels {
  padding: 0.75rem 1.5rem;
}

.labels-add {
  position: relative;
  min-height: 1.75rem;
  max-width: 70%;
  margin-left: 0.5rem;
  outline: 1px solid var(--span-1);
  background-color: var(--bg-secondary);
}

.labels-add-input {
  min-height: 100%;
  min-width: 90%;
  padding-left: 0.5rem;
  outline: none;
  border: none;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.labels-add-btn {
  position: absolute;
  right: 0;
  color: var(--span-1);
  cursor: pointer;
}
