.note-card {
  height: fit-content;
  max-width: 20rem;
  white-space: pre-wrap;
  word-break: break-all;
  padding: 1rem 1rem 0.5rem;
  margin: 0.5rem;
  outline: 1px solid var(--span-1);
  background-color: var(--bg-secondary);
}

.note-card-title {
  border: none;
  flex-grow: 1;
  border-bottom: 1px solid var(--span-2);
  outline: none;
}

.note-card-footer {
  margin: 0.5rem 0 0;
}
